[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	branch = HEAD
[submodule "flipbookr"]
	path = flipbookr
	url = https://github.com/evamaerey/flipbookr
[submodule "tidytitanic"]
	path = tidytitanic
	url = https://github.com/evamaerey/tidytitanic
