[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "flipbookr"]
	path = flipbookr
	url = https://github.com/evamaerey/flipbookr
	shallow = true
	registered = true
